<ul class="posts">
	{% for post in posts %}
		<!-- onclick提供用户点击转移到博客网页 -->
		<li class="post" onclick="window.location.assign('{{ url_for("main.ShowPost", id=post.post_id)}}')">
			<div class="post-thumbnail">
				<a href="{{ url_for('main.UserInfo', username=post.author.user_name) }}">
					{% if post.author.header_picutre %}
						<img src={{ header_file.url(post.author.header_picutre)}} class="img-rounded profile-thumbnail" alt="hello tmark" width="40"  height="40">
					{% else %}
						<img src={{ header_file.url('default.jpg')}} class="img-rounded profile-thumbnail" alt="hello tmark" width="40"  height="40">
					{% endif %}
				</a>
			</div>

			<div class="post-content">
				<div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
				<div class="post-author">
					<a href="{{ url_for('main.UserInfo', username=post.author.user_name) }}">
						{{ post.author.user_name }}
					</a>
				</div>
				<div class="post-body">
				<!-- 有富文本就显示富文本 -->
				{% if post.body_html %}
					{{ post.body_html | safe }}
				{% else %}
					{{ post.body }}
				{% endif %}
				</div>

				<div class="post-footer">
					{% if current_user == post.author %}
						<a href="{{ url_for('main.EditPost', id=post.post_id) }}">
							<span class="label label-primary">Edit</span>
						</a>
					{% elif current_user.is_administrator() %}
						<a href="{{ url_for('main.EditPost', id=post.post_id) }}">
							<span class="label label-danger">Edit [Admin]</span>
						</a>
					{% endif %}
				</div>
			</div>
		</li>
		{% endfor %}
</ul>

