{% extends "bootstrap/base.html" %}

<!-- 定义收藏夹图标 -->
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}


{% block styles %}
{{super()}}
<style>
	body{padding-top:60px;}
</style>
{% endblock %}


{% block title %}Hello Tmark{% endblock %}

<!--  引入必须的js文件 -->
{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}
{% endblock %}



<!-- 定义公共的导航栏 -->
{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="container-fluid"> 
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#example-navbar-collapse">
				<span class="sr-only">切换导航</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href={{url_for("main.Index")}}>Hello Tmark</a>
		</div>
	
		<div class="collapse navbar-collapse" id="example-navbar-collapse">

			<ul class="nav navbar-nav">
				<li><a href="/">Nav1</a></li>
				<li><a href="/">Nav2</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Nav3<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">jmeter</a></li>
						<li><a href="#">EJB</a></li>
						<li><a href="#">Jasper Report</a></li>
						<li class="divider"></li>
						<li><a href="#">分离的链接</a></li>
						<li class="divider"></li>
						<li><a href="#">另一个分离的链接</a></li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-user"></span><b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						{% if current_user.is_authenticated %}
							<li><a href={{url_for("main.UserInfo", username = current_user.user_name)}}>个人中心</a></li>
						{% endif %}
						<li><a href={{url_for("auth.Register")}}>注册</a></li>
						<li class="divider"></li>
						{% if current_user.is_authenticated %}
							<li><a href={{url_for("auth.Logout")}}>退出登录</a></li>
						{% else %}
							<li><a href={{url_for("auth.ChangePasswordEmail")}}>忘记密码</a></li>
							<li><a href={{url_for("auth.Login")}}>登录</a></li>
						{% endif %}
					</ul>
				</li>
			</ul>
		</div>
		</div>
	</div>
</nav>
{% endblock %}


{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			{% for message in get_flashed_messages() %}
				<div class="alert alert-warning alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times; </button>
					{{ message }}
				</div>
			{% endfor %}
		{% block page_content %} {% endblock %}
		</div>

	</div>
</div>

{% block page_footer%}
<footer>
	<div class="navbar-static-bottom" style="text-align: center;">
		<hr>
		<p>Copyright © 2018 Hello Tmark</p>
	</div>
</footer>
{% endblock %}



{% endblock %}