{% extends "base.html" %}

{% block page_content %}
	<div  class="page-header" >
		{% if user == current_user %} 
			<a title="点击修改头像", href={{url_for('main.UploadHeaderFile')}}>
		{% endif %}
		{% if user.header_picutre %}
			<img src={{ header_file.url(user.header_picutre)}} class="img-thumbnail" alt="hello tmark" width="256"  height="256">
		{% else %}
			<img src={{ header_file.url('default.jpg')}} class="img-thumbnail" alt="hello tmark" width="256"  height="256">
		{% endif %}
		{% if user == current_user %} 
			</a>
		{% endif %}

		<h1>{{ user.user_name }}</h1>
		{% if user.location %}
			<p>From <a href="http://map.baidu.com/?newmap=1&s=s%26wd%3D{{user.location}}%26c%3D257&from=alamap&tpl=mapcity">{{ user.location }}</a></p>
		{% endif %}

		{% if current_user.is_administrator() %}
			<p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
		{% endif %}

		{% if user.about_me %}
			<p>{{ user.about_me }}</p>
		{% endif %}

		<p>Member since {{ moment(user.register_time).format('L') }}.</p>
		<p>Last seen {{ moment(user.last_login_time).fromNow(refresh=True) }}.</p>
		<p>{{ user.posts.count() }} blog posts.</p>

        <p>
            {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                {% if not current_user.is_following(user) %}
                	<a href="{{ url_for('main.Follow', username=user.user_name) }}" class="btn btn-primary">Follow</a>
                {% else %}
                	<a href="{{ url_for('main.Unfollow', username=user.user_name) }}" class="btn btn-default">Unfollow</a>
                {% endif %}
            {% endif %}
            <a href="{{ url_for('main.Followers', username=user.user_name) }}">粉丝: <span class="badge">{{ user.followers.count() }}</span></a>
            
            <a href="{{ url_for('main.Followed_by', username=user.user_name) }}">他(她)关注的: <span class="badge">{{ user.followed.count() }}</span></a>
            
            {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
            	| <span class="label label-default">Follows you</span>
            {% endif %}
        </p>





		<!--当前登录用户可以修改自身的个人信息-->
		{% if user == current_user %}
			<p><a class="btn btn-default" href="{{ url_for('main.EditProfile') }}">Edit Profile</a></p>
		{% endif %}

		<!--
		{% if current_user.is_administrator() %}
			<p><a class="btn btn-danger" href="{{ url_for('main.EditProfile') }}">Edit Profile</a></p>
		{% endif %}
	-->
	</div>
	<h3>{{user.user_name}}发表过的</h3>
	{% include '_post.html' %}
</div>

{% endblock %}


